@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
    width: 600px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}

.transfer {
    font-size: 35px;
    font-weight: 600;
    color: #ccc;
    display: block;
    margin-left: 155px;
    white-space: nowrap;
    border-right: 2px solid;
    width: 12ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}
@keyframes blink {
    50% { border-color: transparent; }
}

.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
    left: 138px;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    left: 2px;
    font-weight: 500;
    color: #ccc;
}

form .page .field .cant {
    position: absolute;
    top: -30px;
    font-weight: 500;
    color: #ccc;
}

form .page .field .user {
    position: absolute;
    top: 0;
    font-weight: 500;
    color: #ccc;
}

form .page .field .mail {
    position: absolute;
    top: 30px;
    font-weight: 500;
    color: #ccc;
}

form .page .field .pay {
    position: absolute;
    top: 60px;
    font-weight: 500;
    color: #ccc;
}

form .page .field .pay span {
    white-space: nowrap;
    font-size: 16px;
}

form .page .field input,
.method {
    height: 100%;
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
}

form .page .field .method .lbl_tarjeta {
    position: relative;
    left: -12px;
    top: 0;
}

form .page .field .method label {
    color: #ccc;
}

form .page .field .method .card {
    height: 25px;
    width: 18px;
    position: relative;
    left: -198px;
    top: 6px;
}

form .page .field .method .account {
    height: 25px;
    width: 18px;
    position: relative;
    left: -210px;
    top: 6px;
}

form .page .field button {
    width: 95%;
    height: calc(100% + 5px);
    border: none;
    background: #2ECC71;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: #1ABC9C;
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns .prev-3,
form .page .btns .submit {
    margin-top: 30px !important;
}

form .page .btns .submit {
    border: none;
    background: #2ECC71;
    color: #fff;
    padding: 10px 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;

}

form .page .btns .button_progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
}

form .page .btns .button_text {
    position: relative;
    font-size: 14px;
}



form .page .btns button.prev {
    margin-right: 3px;
    font-size: 14px;
}

form .page .btns button.next {
    margin-left: 3px;
    font-size: 14px;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #ccc;
    margin-bottom: -60px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #ccc;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: #2ECC71;
    background: #2ECC71;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -122px;
    height: 3px;
    width: 120px;
    background: #ccc;
}

.progress-bar .step .bullet.active:after {
    background: #2ECC71;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: #2ECC71;
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    bottom: 8px;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

/* Estilos para la alerta SweetAlert */

.swal-modal {
    width: 380px;
}

.swal-title {
    font-size: 25px;
}

.swal-text {
    color: orangered;
}

.swal-button {
    background-color: #43cea2;
}
