* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.pattern_lock {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

.usePIN {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #ccc;
    font-size: 20px;
}

.digit {
    text-align: center;
    color: #CCC;
    font-size: 14px;
}

button {
    position: relative;
    left: 25px;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 30px;
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 5px 40px 5px -10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}


/* light theme */

.pattern_lock {
    background-color: rgba(0, 0, 0, 0.7);
}

.pattern_lock #display {
    /* color: #0a1e23; */
    color: #f8fafb;
}

.pattern_lock button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.pattern_lock button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.pattern_lock button.btn-operator {
    background-color: #ffd5d8;
    color: #fc4552;
}


/* dark theme */

.pattern_lock.dark {
    background-color: #00538C;
}

.pattern_lock.dark #display {
    color: #f8fafb;
}

.pattern_lock.dark button#clear {
    background-color: #008080;
    color: #fff;
}

.pattern_lock.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
}

.pattern_lock.dark button.btn-operator {
    background-color: #008080;
    color: #fff;
}

